---
import logo from "../assets/logo-text.svg";
import bg from "../assets/bg-green.svg";
import fb from "../assets/fb-logo.svg";
import ig from "../assets/ig-logo.svg";
---
<div class="w-full bg-auto bg-repeat bg-top pt-12 pb-4 text-bg" style={{ backgroundImage: `url('${bg.src}')` }} >
    <div class="content">
        <div class="w-full grid grid-cols-1 md:grid-cols-5 gap-2 text-xs lg:text-sm" >
            <div class="md:col-span-2">
                <img
                    src={logo.src}
                    alt="Logo Školáci na cesty"
                    class="h-16 mx-auto md:ml-0"
                    loading="lazy"
                />
                <p class="mt-4 w-5/6 md:w-2/3 mx-auto md:ml-0 text-center md:text-left">
                    Naším cieľom je, aby deti spoznali krásy Slovenska, zamilovali si prírodu a pohyb. <br>
                    Ponúkame kvalitné ubytovanie, chutnú stravu a aktivity, ktoré zabavia aj obohatia školákov. <br>
                    Ku každej škole pristupujeme individuálne a pobyt prispôsobíme jej potrebám.
                </p>
                <div class="flex flex-row space-x-4 mt-4 w-max mx-auto md:ml-0">
                    <div class="w-8 h-8 bg-secondary text-center flex items-stretch rounded-full">
                        <a class="self-center w-max mx-auto"
                            href="https://www.instagram.com/"
                            target="_blank" rel="noopener noreferrer" >
                            <img
                                src={ig.src}
                                alt="Instagram logo"
                                class="h-8 w-8 mx-auto"
                                loading="lazy"
                            />
                        </a>
                    </div>
                    <div class="w-8 h-8 bg-secondary text-center flex items-stretch rounded-full" >
                        <a
                            class="self-center w-max mx-auto"
                            href="https://www.facebook.com/"
                            target="_blank" rel="noopener noreferrer" >
                            <img
                                src={fb.src}
                                alt="Facebook logo"
                                class="h-8 w-8 mx-auto"
                                loading="lazy"
                            />
                        </a>
                    </div>
                </div>
            </div>
            <div class="md:col-span-3 grid grid-cols-1 sm:grid-cols-3 sm:gap-2 mt-4 md:mt-0 w-full" >
                <div class="w-full max-w-max mx-auto md:ml-0 mt-8 sm:mt-0">
                    <h2 class="text-center md:text-left">Služby</h2>
                    <div class="flex flex-col gap-2 mt-4">
                        <a href=`${import.meta.env.BASE_URL}sluzby/saso/` class="animated-underline w-max mx-auto md:ml-0" >Program so Šašom</a>
                        <a href=`${import.meta.env.BASE_URL}sluzby/skolkariq/` class="animated-underline w-max mx-auto md:ml-0" >ŠkôlkarIQ</a>
                        <a href=`${import.meta.env.BASE_URL}sluzby/animacny-program/` class="animated-underline w-max mx-auto md:ml-0" >Animačný program</a>
                        <a href=`${import.meta.env.BASE_URL}informacie/zakladne-informacie/` class="animated-underline w-max mx-auto md:ml-0" >Pre učiteľov</a>
                    </div>
                </div>
                <div class="w-full max-w-max mx-auto md:ml-0 mt-8 sm:mt-0">
                    <h2 class="text-center md:text-left">Právne centrum</h2>
                    <div class="flex flex-col gap-2 mt-4">
                        <a href=`${import.meta.env.BASE_URL}ochrana-osobnych-udajov/` class="animated-underline w-max mx-auto md:ml-0" >Zásady ochrany osobných údajov</a>
                        <a href=`${import.meta.env.BASE_URL}zasady-cookies/` class="animated-underline w-max mx-auto md:ml-0" >Zásady používania súborov Cookies</a>
                        <a href=`${import.meta.env.BASE_URL}obchodne-podmienky/` class="animated-underline w-max mx-auto md:ml-0" >Všeobecné obchodné podmienky</a>
                    </div>
                </div>
                <div class="w-full max-w-max mx-auto md:ml-0 mt-8 sm:mt-0">
                    <h2 class="text-center md:text-left">Kontakt</h2>
                    <div class="mt-4 w-full text-center md:text-left">
                        Školáci na cesty s. r. o. <br />
                        Landererova 7743/8 <br />
                        Bratislava – Staré Mesto 811 09 <br />
                        <br />
                        po – pia: 7:30 – 16:00 <br />
                        tel.: <a href="tel:+421907205144" class="animated-underline">+421 907 205 144</a> <br />
                        mail: <a href="mailto:rezervacie@skolacinacesty.sk" class="animated-underline">rezervacie@skolacinacesty.sk</a>
                    </div>
                </div>
            </div>
        </div>
        <div
            class="w-full flex flex-col lg:flex-row justify-center lg:justify-between text-[0.5rem] lg:text-xs self-center text-center mt-4"
        >
            <div>© {new Date().getFullYear()} Copyright Školáci na cesty CK</div>
            <div>
                Vytvorené s 🤍 pre CK od <a
                    href="https://devity.sk/"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="animated-underline w-max">DEVITY Software</a
                >&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Fotografie a
                ilustrácie: archív CK a Freepik
            </div>
        </div>
    </div>
</div>
