---
import Layout from '../../layouts/Layout.astro';
import Hero from '../../components/Hero.astro';
import bgTrip from "../../assets/bg/trip-det.svg";
import decor2 from "../../assets/decor-arrows.svg";
import decor from "../../assets/decor-bush.svg";

const infoBlocks = [
	{
		title: 'Ceny',
		text: 'Všetky ceny sú stanovené vždy za pobyty začínajúce obedom v pondelok a končiace raňajkami v piatok. Ceny pri ŠVP sú uvedené pre žiakov ZŠ I. stupňa, ceny pre žiakov ZŠ II. stupňa (prípadne študentov SŠ) Vám poskytneme v prípade potreby. Ceny pri LK sú pre žiakov ZŠ II. stupňa a študentov SŠ.',
	},
	{
		title: 'Pedagogický dozor',
		text: 'Na 13 zúčastnených detí má jeden pedagóg pobyt zdarma. Zdravotník má pobyt zdarma pri minimálnom počte 35 detí.',
	},
	{
		title: 'Bonus',
		text: 'Za každé 13. dieťa obdržíte bonus vo výške 130 €.',
	},
	{
		title: 'Doprava',
		text: 'V prípade záujmu Vám zabezpečíme dopravu z miesta školy do určenej destinácie. Cena sa stanoví na základe vzdialenosti do zariadenia.',
	},
	{
		title: 'Poistenie',
		text: 'V prípade záujmu Vám zabezpečíme komplexné cestovné poistenie. Naša CK má uzavreté poistenie pre prípad úpadku.',
	},
	{
		title: 'Lyžiarske kurzy',
		text: 'V prípade nezjazdnosti lyžiarskych svahov počas LK Vás presunieme na iný termín alebo do iného zariadenia. Vo vyznačených lyžiarskych strediskách je skibus v cene skipasu. V našej ponuke nájdete zariadenia, kde je lyžiarske stredisko priamo na svahu.',
	},
];
---

<Layout
	title="Základné informácie pre školy"
	description="Ceny, bonusy, poistenie, pedagogický dozor a doprava – všetko, čo potrebujete vedieť pred objednaním školy v prírode alebo lyžiarskeho kurzu."
>

	<section class="pb-16 sm:pb-32 bg-cover bg-no-repeat bg-center relative" style={{ backgroundImage: `url('${bgTrip.src}')` }}>
		<div class="content flex flex-col space-y-4">
			<Hero title="Základné informácie pre školy" />
			<div class=" grid grid-cols-1 md:grid-cols-2 gap-x-12 gap-y-10">
				{infoBlocks.map(block => (
					<div>
						<h2 class="text-text mb-1">{block.title}</h2>
						<div class="underline-accent"></div>
						<p class="text-text/80">{block.text}</p>
					</div>
				))}
			</div>
		</div>
		<img src={decor.src} alt="" class="hidden sm:block sm:h-24 md:h-32 w-auto absolute -bottom-2 -left-2">
		<img src={decor2.src} alt="" class="hidden sm:block sm:h-24 md:h-32 w-auto absolute -bottom-2 right-0">
	</section>
</Layout>
